/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pict {
    background:rgb(0,0,0,0.5) url('https://images.unsplash.com/photo-1569025690938-a00729c9e1f9?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    transition:  5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    
}
@keyframes animate{

    10%{
        background-image: url("https://images.unsplash.com/photo-1620266757065-5814239881fd?auto=format&fit=crop&q=80&w=2072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    20%{
        background-image: url("https://images.pexels.com/photos/4960420/pexels-photo-4960420.jpeg");
    }
}

body {
    background:rgb(0,0,0,0.5) url('https://images.pexels.com/photos/6779716/pexels-photo-6779716.jpeg'); /* Replace with the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;   
}


footer {
    background-color: #f3e6e6;
    color: rgb(24, 10, 10); /* Change the text color here */
    text-align: center;
    padding: 20px;
}
.hedk{
    color: rgb(255, 255, 255); /* Change the text color here */
    text-shadow: black;
    margin-top: 10%;
    margin-left: 200px;


}
.copyright{
    color: rgb(141, 57, 158); /* Change the text color here */
}
/* .container{
    background-color: #d8bdbd;
} */
.lab{
    color: rgb(229, 250, 250);
    text-shadow: blue;
}
.mb-3{
    text-align: center;
}
.fo{
    
    height: 20%;
}
.ha{
    padding: 10%;
    width: 10%;
    height: 50px;
    margin-left: 30%;
}
    
    
.custom-bg-dark {
    background-color: lightblue; /* Change this color to your desired light color */
}
.registar{
    padding: 5%;
}

.hom{
    color: rgb(230, 224, 224); /* Change the text color here */
    text-shadow: black;
    margin-left: 220px;
    margin-top: 20%;

}
.has{
    padding: 10%;
    width: 10%;
    height: 50px;
    margin-left: 20%;
}
.tata{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.);
}
.tata.tree{
    transition: all .2s ease-in ;
    cursor: pointer;

}
.tata.tr.th,td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tata.fortr.th,td{
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#header{
    padding: 1px;
    background-color: #16a085;
    text-align: left;

}
.prag{
    color: rgb(255, 255, 255); /* Change the text color here */
    text-shadow: black;
    margin-top: 40px;
    margin-left: 200px;


}
.info{
    color: rgb(255, 255, 255); /* Change the text color here */
    text-shadow: black;
    margin-top: 30%;
    margin-left: 200px;
}
#holdin{
    background-color: #3ab122;
    color: white;
    margin-left: 10%;
    text-align: center;
}
.fort{
    margin-top: 350px;
    margin-left: 27%;
}
.cuote{
    color: white;
    margin-top: 5%;
    margin-left: 40%;
}
.boxy-text {
    background-color: #3498db; 
    padding: 10px;
    border: 1px solid #ecd6d6;; 
    color: #ffffff; 
    font-size: 16px; 
    text-align: center;
    margin: 5px;
    margin-left: 85%;
    margin-top: -90px;
  }
  

